@plugin "@tailwindcss/typography";
@import "tailwindcss";

@theme {
  --color-brand: #d97757;

  --font-serif: "Source Serif 4", serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-background-dark: #111111;
  --color-text-main: #e8e8e3;
}

@layer base {
  html {
    @apply overflow-y-scroll overflow-x-hidden;
  }

  body {
    @apply bg-background-dark text-text-main font-serif antialiased selection:bg-brand/30;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white;
  }

  a {
    @apply text-brand transition-colors;
  }

  code,
  .prose code {
    @apply rounded bg-white/10 px-1.5 py-0.5 font-mono text-[0.9em] text-brand;
    font-weight: 400 !important;
  }

  /* Remove Tailwind Typography's default backticks */
  code::before,
  code::after {
    content: "" !important;
  }
}